---
import { getCollection } from "astro:content";
import background from "../assets/background.svg";
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";

const articles = await getCollection("articles");
---

<Layout>
  <div>
    <Navigation />
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    Blog
    <ul>
      {
        articles.map((article) => (
          <li>
            <a href={`/articles/${article.id}`}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }
</style>
